<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="DedupeNET">
            <section name="GeneralSettings" type="DedupeNET.Configuration.GeneralSettings, DedupeNET" allowLocation="true" allowDefinition="Everywhere"/>
            <section name="IDFSettings" type="DedupeNET.Configuration.IDFSettings, DedupeNET" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SqlServer" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Deduplication;Data Source=AGROCK-PC\SQLEXPRESS"/>
    </connectionStrings>
    <DedupeNET>
        <GeneralSettings>
            <Tokenization stopCharacters=",.;"/>
        </GeneralSettings>
        <IDFSettings>
            <providers>
                <add name="InMemoryIDFProvider" type="DedupeNET.Providers.InMemoryIDFProvider, DedupeNET" connectionStringName="SqlServer" relationName="dbo.Activist" dataProvider="System.Data.SqlClient" />
            </providers>
        </IDFSettings>
    </DedupeNET>
</configuration>