<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="DedupeNET">
            <section name="GeneralSettings" type="DedupeNET.Configuration.GeneralSettings, DedupeNET" allowLocation="true" allowDefinition="Everywhere"/>
            <section name="InverseDocumentFrequency" type="DedupeNET.Configuration.InverseDocumentFrequency, DedupeNET" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>

    <DedupeNET>
        <GeneralSettings>
        </GeneralSettings>
        <IDFProviders>


        </IDFProviders>
    </DedupeNET>
</configuration>