<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="GeneralSettings" type="DedupeNET.Configuration.GeneralSettings, DedupeNET, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    </configSections>
    <GeneralSettings tokenSeparators=".,;"/>
</configuration>